<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangue.cpw.repository.CpwPatPhaseMapper">
    <select id="getMaxNowDay" resultType="CpwPatPhase">
        select *
          from cpw_pat_phase dd
         where dd.cpw_no = #{cpwNo}
           and dd.now_day = (select max(now_day)
                               from cpw_pat_phase
                              where cpw_no = #{cpwNo})
    </select>

</mapper>